@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);

body {
	background-color: black;
    font-family: 'Open Sans', sans-serif;
}
.menu-main {
    list-style: none;
    padding: 25px 0 0 0;
    text-align: center;
    background: black;
}
.menu-main li {
    display: inline-block;
}
.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {
    content: none;
}
.menu-main a, p {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, p, .menu-main a:visited {
	color: white;
}
.menu-main a.current, .menu-main a:hover {
	color: #581d22;
}
.menu-main a:before, .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 15px;
    left: 50%;
    background: #581d22;
    transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px; 
        margin: 0 30px;
    }
}
ul {margin: 0;}
hr {margin: 0;}

.image-p1{
	object-fit: contain;
    width: 100%;
    height: 100%;
}
.text{
    display: flex;
    color: white;
    text-align: center;
    margin: 5% 0 0 20%;
}
.button{
	width: 347px;
	height: 50px;
	background: #FFFFFF;
	color: black;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 10px auto;
	text-decoration: none;
}
.button:hover{
	box-shadow: 0 0 30px 5px #581d22;
	/* text-decoration: underline;
	 color: #000080;
	 background: white;
	 text-decoration: none;  */
}
.text-head{
	color: #581d22;
	line-height: 1.5;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	margin: 10px 10px;
}
.custom-class0{
	margin: auto;
	
}
.custom-class{
	border: 2px solid #c0c0c0;
	margin: 10px;
	padding: 10px;
	max-width: 400px;
	text-align: center;
	border-radius: 10px;
	background-color: white;
    box-shadow: 10px 0 20px #581d22;
}
.image{
	width: 250px;
	height: 250px;
	object-fit: cover; 
	border-radius: 15px;
	transition: 1.5s;
}
.image:hover{
	width: 350px;
	height: 350px;
}
.height-block {
	height: 170px;
	overflow-y: auto;
	text-align: left;
	margin: 15px 10px;
}
.button-1{
	width: 200px;
	height: 40px;
	background: white;
	color: black;
	border-radius: 10px;
	margin: 10px auto;
	text-decoration: none;
}
.button-2{
	width: 200px;
	height: 40px;
	background: #581d22;
	color: white;
	border-radius: 10px;
	margin: 10px auto;
	text-decoration: none;
}
.button-1 a:hover{
	 text-decoration: underline;
	 color: #000080;
	 background: white;
	 text-decoration: none;
 }
.footer{
	padding: 30px 0;
}
.input{
	padding: 20px 0;
	
}